
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: yellow;
}

.columns {
  min-height: 200px;
  background: #99ffcc;
}

nav {
  background: #eeeeee;
  width: 100%;
}

ul {
  /*width: 80%;*/
  /*margin: 0 auto;*/
  /*padding: 30px;*/
  margin: 50px 200px;
  padding: 30px;
  display: flex;

}

ul li {
  list-style-type: none;
  padding: 10px 20px;
}

ul li a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #262626;
  position: relative;
}

ul li a:before {
  content: "";
  width: 0px;
  height: 3px;
  background: #00bcd4;
  position: absolute;
  top: 120%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

ul li a:after {
  content: '';
  width: 0px;
  height: 3px;
  background: #f0f;
  position: absolute;
  top: 120%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

ul li:hover a:before {
  width: 50%;
  transform: translateX(100%);
}

ul li:hover a:after {
  width: 50%;
  transform: translateX(-100%);
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

section {
  width: 100%;
  height: 600px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
