
/* GENERAL */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #d9b38c;
}

.columns {
  min-height: 200px;
  background: #99ffcc;
}

.section-divider {
  background-color: #261a0d;
  min-height: 50px;
}

/* NAV BAR */

nav {
  background-image: url('../img/wood-banner.jpg');
  width: 100%;
  opacity: 0.9;

}

ul {
  margin: 0px 200px;
  padding: 30px;
  display: flex;

}

ul li {
  list-style-type: none;
  padding: 18px 16px;
}

ul li a {
  color: #4d2600;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  position: relative;
  font-weight: 900;
}

ul li a:before {
  content: "";
  width: 0px;
  height: 3px;
  background: #331a00;
  position: absolute;
  top: 120%;
  left: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

ul li a:after {
  content: '';
  width: 0px;
  height: 3px;
  background: #ffa64d;
  position: absolute;
  top: 120%;
  right: 0;
  transition: .5s;
  mix-blend-mode: multiply;
}

a:hover {
  color: #944d00;
}

ul li:hover a:before {
  width: 50%;
  transform: translateX(100%);
}

ul li:hover a:after {
  width: 50%;
  transform: translateX(-100%);
}

a:active {
  background-color: yellow;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

/* MAIN CONTENT */

section {
  width: 100%;
  height: 600px;
}

/* FOOTER */

footer .columns {
  background-image: url('../img/wood-banner.jpg');
}

.footer-info {
  text-align: center;
  padding-top: 16px;
  color: #4d2600;
  font-weight: 900;
}

#pub-name {
  font-size: 1.5rem;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
