
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: yellow;
}

.columns {
  min-height: 200px;
  background: #99ffcc;
}

nav {
  background: #eeeeee;
  width: 100%;
}

ul {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

ul li {
  list-style-type: none;
  display: inline-block;
  padding: 40px;
}

ul li:hover {

}

ul li a {
  color: #000000;
  text-decoration: none;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

section {
  width: 100%;
  height: 600px;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .toggle {
    display: block;
  }

  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
  }
  .active {
    display: block;
  }
}
