
a {
  color: #666666;
}

a:hover {
  color: #cccccc;
}

.menu {
  margin-top: 30px;
  padding: 10px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

.menu li {
  margin-left: 30px;
}

header {
  margin-bottom: 30px;
}

footer {
  background: #333;
  color: #fff;
  height: 80px;
  padding-top: 30px;
  margin-top: 30px;
  text-align: center;
}
